<% provide(:title, 'Full List') %>
<div class="row">
	<div class="small-3 large-centered columns text-center">
		<%= image_tag("merl.png") %>
	</div>
	<div class= "small-12 large-centered columns">
		<p>The complete Maryland Entrepreneurs Resource List can be found below. Please note that the amount of MERL members per page can be adjusted using the dropdown menu on the left. To search, simply enter an industry or qualification into the search bar on the right. Please note that search terms can be chained together. For example, if you are looking for a MERL member that is available for next 18 months, has raised $5 MM or more at the C-suite level, and has industry experience in chemistry, you could simply type "18 mo $5 MM chemistry," which would yield only two results.</p>
	</div>
	<div class= "small-12 large-centered columns">
		<table id="MERL-members">

			<thead>
				<tr>
					<th>Name</th>
					<th>Industry Experience</th>
					<th>Mentorship Criteria</th>
					<th>Bio</th>
					<% if current_user.try(:admin?) %>
						<th>Delete</th>
					 <% end %>
				</tr>
			</thead>

			<tbody>
				<% @users.shuffle.each do |user| %>
					<% unless user.admin? or user.private? %>
						<tr>
							<td><%= link_to user.name, user, class: "table-name" %></td>
							<td>
								<ul>
									<% if user.biotechnology == true %>
										<li>Biotechnology</li>
									<% end %>
									<% if user.software == true %>
										<li>Software</li>
									<% end %>
									<% if user.networking_wirless == true %>
										<li>Networking/wireless</li>
									<% end %>
									<% if user.physics_engineering == true %>
										<li>Physics/engineering</li>
									<% end %>
									<% if user.chemistry == true %>
										<li>Chemistry</li>
									<% end %>
									<% if user.medical_devices == true %>
										<li>Medical devices</li>
									<% end %>
								</ul>
							</td>
							<td>
								<ul>
									<% if user.availability == true %>
										<li>Available for next 18 mo.</li>
									<% end %>
									<% if user.mentoring == true %>
										<li>Interested in mentoring</li>
									<% end %>
									<% if user.deffered_payment == true %>
										<li>Will accept deferred payment</li>
									<% end %>
									<% if user.raised_money == true %>
										<li>Raised > $5 MM at C-level</li>
									<% end %>
									<% if user.successful_exit == true %>
										<li>Have exited successfuly</li>
									<% end %>
									<% if user.startup_experience == true %>
										<li>Have experience with start-ups</li>
									<% end %>
								</ul>	
							</td>
							<% if user.bio.blank? %>
								<td>N/A</td>
							<% else %> 
								<td><%= link_to "Link", user.bio, :target => "_blank" %></td>
							<% end %>
							<% if current_user.try(:admin?) && !current_user?(user) %>
								<td><%= link_to "Delete", user, class: "button tiny", method: :delete, data: { confirm: "Are you sure you'd like to delete this MERL member?" } %></td>
							 <% end %>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>

		<% # This starts a new table for the private members of the merl list %>
	<% if current_user.try(:admin?) %>
		<div class= "small-12 large-centered columns">
			<p>Below is a list of MERL members that have elected not to be displayed publicly. This section <strong>cannot</strong> be seen by the general public.</p>
		</div>
		<div class= "small-12 large-centered columns">
			<table id="MERL-members">

				<thead>
					<tr>
						<th>Name</th>
						<th>Industry Experience</th>
						<th>Mentorship Criteria</th>
						<th>Bio</th>
						<% if current_user.try(:admin?) %>
							<th>Delete</th>
						 <% end %>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
						<% if user.private? %>
							<tr>
								<td><%= link_to user.name, user, class: "table-name" %></td>
								<td>
									<ul>
										<% if user.biotechnology == true %>
											<li>Biotechnology</li>
										<% end %>
										<% if user.software == true %>
											<li>Software</li>
										<% end %>
										<% if user.networking_wirless == true %>
											<li>Networking/wireless</li>
										<% end %>
										<% if user.physics_engineering == true %>
											<li>Physics/engineering</li>
										<% end %>
										<% if user.chemistry == true %>
											<li>Chemistry</li>
										<% end %>
										<% if user.medical_devices == true %>
											<li>Medical devices</li>
										<% end %>
									</ul>
								</td>
								<td>
									<ul>
										<% if user.availability == true %>
											<li>Available for next 18 mo.</li>
										<% end %>
										<% if user.mentoring == true %>
											<li>Interested in mentoring</li>
										<% end %>
										<% if user.deffered_payment == true %>
											<li>Will accept deferred payment</li>
										<% end %>
										<% if user.raised_money == true %>
											<li>Raised > $5 MM at C-level</li>
										<% end %>
										<% if user.successful_exit == true %>
											<li>Have exited successfuly</li>
										<% end %>
										<% if user.startup_experience == true %>
											<li>Have experience with start-ups</li>
										<% end %>
									</ul>	
								</td>
								<% if user.bio.blank? %>
									<td>N/A</td>
								<% else %> 
									<td><%= link_to "Link", user.bio, :target => "_blank" %></td>
								<% end %>
								<% if current_user.try(:admin?) && !current_user?(user) %>
									<td><%= link_to "Delete", user, class: "button tiny", method: :delete, data: { confirm: "Are you sure you'd like to delete this MERL member?" } %></td>
								 <% end %>
							</tr>
						<% else %>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	<% else %>
	<% end %>
</div>	
