<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><%= link_to "", root_path %></h1>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	</ul>

	<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="left">
			<li class="<%= 'active' if current_page?(root_path) %>" ><%= link_to "Home", root_path %></li>
			<li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
			<li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact Us", contact_path %></li>
		</ul>

		<ul class="right">
			<% if signed_in? %>
				<li class="has-dropdown">
				<%= link_to "Account", "#" %>
					<ul class="dropdown">
						<li><%= link_to "Profile", current_user %></li>
						<li><%= link_to "Settings", "#" %></li>
						<li class="divider"></li>
						<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
					</ul>
				</li>
			<% else %>
				<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
		</ul>
	</section>
</nav>