<nav class="top-bar" data-topbar>
	<section class="top-bar-section">
		<ul class="left">
			<li class="<%= 'active' if current_page?(root_path) %>" ><%= link_to "Home", root_path %></li>
			<li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
			<li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "Full list", users_path %></li>
		</ul>

		<ul class="right">
			<% if signed_in? %>
				<li class="has-dropdown">
				<%= link_to "Account", "#" %>
					<ul class="dropdown">
						<li><%= link_to "Profile", current_user %></li>
						<li><%= link_to "Settings", edit_user_path(current_user) %></li>
						<li class="divider"></li>
						<% if current_user.admin? %>
							<li><%= link_to "Download", export_path %></li>
							<li><%= link_to "Upload", import_path %></li>
							<li class="divider"></li>
						<% end %>
						<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
					</ul>
				</li>
			<% else %>
				<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
		</ul>
	</section>
</nav>